.block_ {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block_1 {
    display: block;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.block_2 {
    display: block;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 0 10pt
    }
.block_3 {
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 10pt
    }
.calibre {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: 237pt;
    line-height: 1.2;
    width: 345pt
    }
.calibre2 {
    height: 256pt;
    line-height: 1.2;
    width: 436pt
    }
.calibre3 {
    height: 267pt;
    line-height: 1.2;
    width: 440pt
    }
.calibre4 {
    height: 269pt;
    line-height: 1.2;
    width: 508pt
    }
.calibre5 {
    height: 257pt;
    line-height: 1.2;
    width: 426pt
    }
.calibre6 {
    height: 264pt;
    line-height: 1.2;
    width: 422pt
    }
.calibre7 {
    height: 251pt;
    line-height: 1.2;
    width: 381pt
    }
.calibre8 {
    height: 259pt;
    line-height: 1.2;
    width: 456pt
    }
.calibre9 {
    height: 280pt;
    line-height: 1.2;
    width: 427pt
    }
.calibre10 {
    height: 285pt;
    line-height: 1.2;
    width: 459pt
    }
.calibre11 {
    line-height: 1.2
    }
.calibre12 {
    height: 282pt;
    line-height: 1.2;
    width: 468pt
    }
.calibre13 {
    height: 273pt;
    line-height: 1.2;
    width: 468pt
    }
.calibre14 {
    height: 266pt;
    line-height: 1.2;
    width: 494pt
    }
.calibre15 {
    height: 257pt;
    line-height: 1.2;
    width: 414pt
    }
.calibre16 {
    height: 259pt;
    line-height: 1.2;
    width: 404pt
    }
.calibre17 {
    font-style: italic;
    line-height: 1.2
    }
.calibre18 {
    height: 254pt;
    line-height: 1.2;
    width: 347pt
    }
.calibre19 {
    height: 269pt;
    line-height: 1.2;
    width: 376pt
    }
.calibre20 {
    height: 250pt;
    line-height: 1.2;
    width: 418pt
    }
.calibre21 {
    height: 308pt;
    line-height: 1.2;
    width: 334pt
    }
.calibre22 {
    height: 270pt;
    line-height: 1.2;
    width: 375pt
    }
.calibre23 {
    height: 260pt;
    line-height: 1.2;
    width: 274pt
    }
.calibre24 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre25 {
    height: 36.1pt;
    line-height: 1.2;
    width: 36pt
    }
.calibre26 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre27 {
    height: 36pt;
    line-height: 1.2;
    width: 36pt
    }
.text_ {
    color: #00F;
    line-height: 1.2;
    text-decoration: underline
    }
.text_1 {
    font-family: "Calibri", sans-serif;
    font-size: 1.2em;
    line-height: 1.2
    }
.text_2 {
    background-color: #FFF;
    font-family: "Helvetica Neue", serif;
    font-size: 1.55em;
    line-height: 1.2
    }
