/**/
hr.c11 {
    width: 45%
    }
td.c6 {
    font-style: italic
    }
span.c5 {
    margin-left: 17.5em
    }
hr.c4 {
    width: 65%
    }
table.c2 {
    margin-right: auto;
    margin-left: auto
    }
td.c1 {
    font-weight: bold
    }
/**/